.input-search {
    min-width: 265px;
}

.amiibo-search {
    padding: 10px 0;
}

.search-boxes {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-boxes-left, .search-boxes-right {
    padding: 5px;
    width: 360px;
}

.amiibo-search-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

h6 {
    text-align: center;
}

@media only screen and (max-width: 650px) {
    .search-boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input-search {
        width: 265px !important;
    }
}