h1 {
    text-align: center;
}

.page-numbers, .page-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-numbers {
    margin: 0 5px 0 10px;
}

.page-items input {
    width: 30px;
    margin: 0 5px;
}

.amiibo-list, .page-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: auto
}

.edit-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.amiibo-edit-display {
    width: 300px;
}

footer {
    height: 50px;
}