.amiibo-item {
    border: 1px solid black;
    width: 300px;
    height: 370px;
    margin: 10px;
    text-align: center;
    background-image: linear-gradient(rgba(255, 0, 0, 0.856), rgba(255, 0, 0, 0.507))
}

.amiibo-image {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

img {
    padding-bottom: 5px;
    height: 90%;
    object-fit: contain;
}

.card-body {
    padding: 20px 10px 10px 10px;
    background-color: white;
    text-align: left;
    box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 1px rgb(0, 0, 0),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}