.amiibo-edit {
    padding: 10px 0;
    text-align: center;
}

.edit-boxes {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.edit-components {
    width: 460px;
}

.amiibo-edit-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
}