.amiibo-edit {
    padding: 10px 0;
    text-align: center;
}

.edit-boxes {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.edit-components {
    width: 350px;
}

.amiibo-edit-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

.edit-main {
    display: flex;
    flex-direction: column;
}